* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at center, #000020, #000010);
  color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #101040;
  padding: 15px 30px;
  box-shadow: 0 0 15px #00f;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  font-size: 24px;
  color: #66f;
  text-shadow: 0 0 10px #66f;
}
.logo {
  width: 85px;
  height: 70px;
  border-left-width: medium;
}
nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

nav a {
  color: #66f;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: #aaf;
}

#cartIcon {
  position: relative;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 15px;
  cursor: pointer;
  color: #66f;
  user-select: none;
  text-decoration: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
#cartIcon:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 80, 255, 0.4);
}
#cartCount {
  position: absolute;
  top: -8px;
  right: -12px;
  background: #66f;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 14px;
}

main {
  padding: 100px 30px 30px 30px;
  max-width: 1000px;
  margin: 0 auto;
  flex: 1;
  width: 100%;
}

h2 {
  font-size: 36px;
  color: #99f;
  text-align: center;
  text-shadow: 0 0 15px #99f;
  margin-bottom: 40px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.productCard {
  background: #202060;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 0 10px #0044ff88;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccf;
}

.productCard img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px #66f;
}

.productCard h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  text-align: center;
}

.preco {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: #aaf;
}

select {
  background: #001040;
  border: none;
  color: #eef;
  padding: 8px 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  text-align-last: center;
}

button.addBtn {
  background: #4488ff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: #eef;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background 0.3s;
}

button.addBtn:hover {
  background: #66aaff;
}

@media (max-width: 768px) {
  .productList {
    grid-template-columns: 1fr;
  }
}
